@model Real_Estate_Listing.Models.RealEstateProperty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Real Estate Property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            Original Sale Amount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalSaleAmount)
        </dd>

        <dt>
            Soald Amount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldAmount)
        </dd>

        <dt>
            Sale Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
