@model Real_Estate_Listing.Models.RealEstateProperty

<strong>@Model.Address</strong>
<p class="text-muted">@Model.Category.name</p>

<span class="pull-right">
    @Ajax.ActionLink("Cancel", "CancelSell", new { Id = Model.id }, new AjaxOptions
{
    UpdateTargetId = "Content-" + Model.id
})
</span>



@using (Ajax.BeginForm("Sell", new { controller = "RealEstateProperties", id = Model.id }, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "Content-" + Model.id
}, new
{
    @class = "form-inline"
}))
{
    <div class="form-group">
        @Html.LabelFor(x => x.SoldAmount):
        @Html.EditorFor(x => x.SoldAmount, new { htmlAttributes = new { @class = "form-control" } })
        <input type="submit" value="Sell" class="btn btn-primary" />
    </div>
    <div>

    </div>
}
